@model List<AirQualityMonitor.Models.LocationChartData>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Home</h2>

<h5>Data</h5>
<ul>
    @foreach (var item in Model)
    {
        <li>Chart ID: @item.Location</li>
    }
</ul>

<div id="chart-container"></div>


<script type="text/javascript">
    //var chartDataSets = getRawHTML(`@Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented)`);
    var locationChartData = `@Html.Raw(Json.Serialize(Model))`;


    function getRawHTML(val) {
        const el = $("div").val(val);
        return el.text();
    }
</script>