@model List<AirQualityMonitor.Models.ChartData>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Home</h2>

<h5>Data</h5>
<ul>
    @foreach (var item in Model)
    {
        <li>Chart ID: @item.ID</li>
    }
</ul>

<div id="chart-container">
    <div id="content" class="row"></div>
</div>


<script type="text/javascript">
    var chartDataSets = 
</script>